* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  body {
    line-height: 1.6;
    background-color: #fff;
  }
  
  header {
    display: flex;
    padding: 20px;
    flex-direction: column;
  }
  
  .header-container {
    display: flex;
    align-items: center;
  }
  
  h1 {
    font-size: 25px;
    margin-right: 10px;
  }
  
  h5 {
    font-size: 12px;
  }
  
  h5 a {
    color: inherit;
    text-decoration: none;
  }
  
  h5 a:hover {
    text-decoration: underline;
  }
  
  p {
    margin-top: 10px;
  }
  
  .source-code {
    color: inherit;
    text-decoration: none;
  }
  
  .source-code:hover {
    text-decoration: underline;
  }
  
  